name: "Build"

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: download color tool
      uses: actions/checkout@v4
      with:
        repository: sfmict/MountColors
        token: ${{ secrets.OAUTH }}
        path: .mountColors

    - name: color db generation
      run: cd ".mountColors" && node genDB.js

    - name: download rarity tool
      uses: actions/checkout@v4
      with:
        repository: sfmict/MountRarity
        token: ${{ secrets.OAUTH }}
        path: .mountRarity

    - name: updating rarity
      id: rarity
      run: node .mountRarity/getRarity.js

    - name: download packager
      uses: actions/checkout@v4
      with:
        repository: sfmict/js_packager
        token: ${{ secrets.OAUTH }}
        path: my-tools

    - name: install packages
      run: cd "my-tools" && npm install

    - name: files
      run: node my-tools/packager.js
      env:
        GITHUB_OAUTH: ${{ secrets.OAUTH }}
        CHANGELOG_LINE: ${{ steps.rarity.outputs.CHANGELOG_LINE }}
        CF_API_KEY: ${{ secrets.CF_API_KEY }}
        CF_ID: 293280
        WAGO_API_KEY: ${{ secrets.WAGO_API_KEY }}
        WAGO_ID: lQNlnOKe